ASCFR[[:space:]]Data[[:space:]]File[[:space:]](with[[:space:]]descriptions).xlsb filter=lfs diff=lfs merge=lfs -text
ASCFR[[:space:]]Data[[:space:]]with[[:space:]]descriptions.csv filter=lfs diff=lfs merge=lfs -text
